#lytt_feedback {
	position: absolute;
	top: 220px;
	left: 300px;
	height: 100px;
	width: 100px;
	border: 1px solid black;
}

#lytt_feedback.listening {
	background: lightBlue;
}

#lytt_feedback.sound_start {
	background: blue;
}

#lytt_feedback.sound_end {
	background: yellow;
}

#lytt_feedback.success {
	background: green;
}

#lytt_feedback.error {
	background: red;
}